<!DOCTYPE html>
<html>

<head>
    <title>Top Metrics</title>
    <link rel="stylesheet" type="text/css" href="static/styles/metricStyleSheet.css">
    <script src="static/scripts/metricsScript.js"></script>
</head>

<body>
    <h1>Top Metrics</h1>

    <h2 id="defaultText" style="display: block;">Select a Metric</h2>
    <div id="buttons">
        <button onclick="displayMetrics('byClientIP', 'client_ip_body')">Requests By Client IP</button>
        <button onclick="displayMetrics('byHost', 'host_body')">Requests By Host</button>
        <button onclick="displayMetrics('byReqSize', 'req_size_body')">Requests By Size</button>
        <button onclick="displayMetrics('byHostPath', 'host_path_body')">Requests By Host & Path</button>
        <button onclick="displayMetrics('byRespTime', 'resp_time_body')">Requests By Response Time</button>
        <button onclick="displayMetrics('byStatusCode', 'status_code_body')">Requests by Status Code</button>
    </div>
    <div id="byClientIP" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Client IP</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody id="client_ip_body"></tbody>
        </table>
    </div>

    <div id="byHost" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody id="host_body"></tbody>
        </table>
    </div>

    <div id="byReqSize" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Request Size</th>
                </tr>
            </thead>
            <tbody id="req_size_body"></tbody>
        </table>
    </div>

    <div id="byHostPath" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Path</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody id="host_path_body"></tbody>
        </table>
    </div>

    <div id="byRespTime" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Response Time</th>
                </tr>
            </thead>
            <tbody id="resp_time_body"></tbody>
        </table>
    </div>

    <div id="byStatusCode" class="metricTable" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Status Code</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody id="status_code_body"></tbody>
        </table>
    </div>

</body>

</html>